<div class="noo-rev-slider">
    <div id="rev-slider-wrapper" class="rev_slider_wrapper fullscreen-container"> 
        <div id="rev-slider" class="rev_slider fullscreenbanner" style="display:none;">
            <ul>  
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <img src="{{asset "images/trans.png"}}" style='background-color:#ccd8d8' alt="slideshow1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption lfl" data-x="0" data-y="-200" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        <img src="{{asset "images/slideshow/k/k8.png"}}" alt="">
                    </div> 
                    <div class="tp-caption lft" data-x="778" data-y="-100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        <img src="{{asset "images/slideshow/logo-slideshow1.png"}}" alt="">
                    </div> 
                    <div class="tp-caption largeblackcustom sfr stl tp-resizeme" data-x="508" data-y="225" data-speed="300" data-start="1200" data-easing="Power0.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300" data-endeasing="Power0.easeOut">
                        when the music changes
                    </div> 
                    <div class="tp-caption largeblackcustom sfr stl tp-resizeme" data-x="508" data-y="274" data-speed="300" data-start="2500" data-easing="Power1.easeIn" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300" data-endeasing="Power0.easeOut">
                        so does the dance
                    </div>
                    <div class="tp-caption largeblackcustom sfr stl tp-resizeme" data-x="508" data-y="334" data-speed="300" data-start="2500" data-easing="Power1.easeIn" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300" data-endeasing="Power0.easeOut">
                        - african proverb
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <img src="{{asset "images/trans.png"}}" style='background-color:#ccd8d8' alt="slideshow2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption lfl" data-x="84" data-y="-100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        <img src="{{asset "images/slideshow/k/k3.png"}}" alt="">
                    </div> 
                    <div class="tp-caption lft" data-x="710" data-y="-112" data-speed="300" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        <img src="{{asset "images/slideshow/logo-slideshow1.png"}}" alt="">
                    </div> 
                    <div class="tp-caption largeblackcustom sfb stl tp-resizeme" data-x="500" data-y="242" data-speed="300" data-start="1200" data-easing="Power0.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        a woman is never old when it
                    </div> 
                    <div class="tp-caption largeblackcustom sfb stl tp-resizeme" data-x="480" data-y="300" data-speed="300" data-start="2500" data-easing="Power0.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        comes to the dance she knows
                    </div>
                    <div class="tp-caption largeblackcustom sfb stl tp-resizeme" data-x="540" data-y="360" data-speed="300" data-start="2500" data-easing="Power0.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        - african proverb
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <img src="{{asset "images/trans.png"}}" style='background-color:#ccd8d8' alt="slideshow2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption lfl" data-x="84" data-y="-100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        <img src="{{asset "images/slideshow/k/k1.png"}}" alt="">
                    </div> 
                    <div class="tp-caption lft" data-x="710" data-y="-112" data-speed="300" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        <img src="{{asset "images/slideshow/logo-slideshow1.png"}}" alt="">
                    </div> 
                    <div class="tp-caption largeblackcustom sfb stl tp-resizeme" data-x="500" data-y="242" data-speed="300" data-start="1200" data-easing="Power0.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        #Danceismylogo
                    </div> 
                    <div class="tp-caption largeblackcustom sfb stl tp-resizeme" data-x="520" data-y="300" data-speed="300" data-start="2500" data-easing="Power0.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5700" data-endspeed="300">
                        - nk dance services
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div> 
</div>